@use 'colors' as *;
@use 'mixins' as *;
@use 'tokens' as *;

#bottom-toolbar {
    position: absolute;
    left: 50%;
    bottom: 24px;
    height: 54px;
    transform: translate(-50%, 0);
    padding: 0 8px;
    border-radius: $radius-lg;

    background-color: $bcg-dark;

    display: flex;
    flex-direction: row;
    align-items: center;
}

.bottom-toolbar-button, .bottom-toolbar-tool, .bottom-toolbar-toggle {
    @include toolbar-item;
    margin: 0 1px;
}

.bottom-toolbar-separator {
    width: 2px;
    height: $toolbar-item-size;
    margin: 0 10px;
    background-color: $bcg-primary;
}

.bottom-toolbar-button {
    svg {
        color: $clr-default;
    }
}

.bottom-toolbar-tool {
    @include toolbar-tool;
}

.bottom-toolbar-toggle.active {
    @include toolbar-toggle-active;
}
