@use 'colors' as *;
@use 'tokens' as *;

#export-popup {
    .ss-dialog {
        width: 380px;
    }

    .ss-dialog-row-label {
        width: 180px;
    }

    .ss-dialog-row-control {
        width: 100%;
    }
}
