@use 'colors' as *;
@use 'tokens' as *;

.panel {
    position: absolute;
    border-radius: $radius-lg;
    overflow: hidden;

    background-color: $bcg-primary;

    & > .ss-panel-header {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: $panel-header-padding;

        background-color: $bcg-dark;

        & > .ss-panel-header-icon {
            font-family: pc-icon;
            font-weight: bold;
            font-size: 13px;
            color: $clr-hilight;
        }

        & > .ss-panel-header-label {
            color: $text-primary;
            font-weight: bold;
            flex-grow: 1;
            text-transform: uppercase;
        }
    }

    .ss-panel-header-button {
        font-family: pc-icon;
        font-weight: bold;
        font-size: 13px;
        color: $clr-hilight;

        padding: 4px;
        flex-grow: 0;
        flex-shrink: 0;

        border-radius: $radius-md;

        display: flex;
        align-items: center;
        justify-content: center;

        svg {
            color: $clr-hilight;
        }

        &:hover {
            color: $clr-hilight-hover;
            background-color: $bcg-darkest;
            cursor: pointer;
        }
    }

    .ss-panel-header-spacer {
        flex-grow: 1;
        padding: 0;
        margin: 0;
    }
}
