@use 'colors' as *;
@use 'tokens' as *;

#popup {
    .ss-dialog {
        min-width: 320px;
        max-width: 480px;
    }

    .ss-popup-text {
        text-wrap: wrap;
        text-align: center;
        padding: 20px 10px;
        color: $text-primary;

        &::before {
            font-family: 'pc-icon';
            font-size: 16px;
            margin: 0 10px;
            color: $text-primary;
        }

        &.error::before {
            content: '\E218';
            color: $error;
        }

        &.info::before {
            content: '\E400';
        }

        &.yesno::before {
            content: '\E138';
        }

        &.okcancel::before {
            content: '\E138';
        }
    }

    .ss-popup-link-row {
        margin: 20px 10px;

        &:not(.pcui-hidden) {
            display: flex;
        }

        .ss-popup-link-text {
            width: 360px;
            height: 32px;
            line-height: 32px;
            background-color: $bcg-dark;
            text-align: center;

            a {
                color: $clr-hilight;
                font-weight: bold;
                font-size: 14px;
                text-decoration-line: none;
            }
        }

        .ss-popup-link-copy {
            width: 32px;
            height: 32px;
            line-height: 24px;
            font-family: 'pc-icon';
        }
    }

    .ss-popup-buttons {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 6px;
    }

    .ss-popup-button {
        height: 40px;
        width: $dialog-button-width;
        border-radius: $radius-md;
        background-color: $bcg-darker;

        &:hover {
            color: $text-primary;
            background-color: $clr-hilight;
        }
    }
}
