@use 'colors' as *;
@use 'tokens' as *;

#progress-container {
    .ss-dialog-header-label {
        color: $text-secondary;
    }

    .ss-dialog-content {
        width: 360px;
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 16px;
        padding: 16px;
    }

    .ss-progress-text {
        width: 100%;
        text-wrap: wrap;
        color: $text-secondary;
    }

    .ss-progress-bar {
        width: 100%;
        height: 12px;
        border: 1px solid $bcg-dark;
        border-radius: 6px;
        background-color: $bcg-progress;
    }

    .ss-progress-cancel {
        align-self: center;
        margin: 0;
    }

    .pulsate {
        animation-name: color;
        animation-duration: 1s;
        animation-iteration-count: infinite;
        animation-direction: alternate-reverse;
        animation-timing-function: ease;
    }

    @keyframes color {
        to {
            background-color: $bcg-progress-pulse;
        }
    }
}
