@use 'colors' as *;
@use 'mixins' as *;
@use 'tokens' as *;

#right-toolbar {
    position: absolute;
    right: 24px;
    top: 50%;
    width: 54px;
    transform: translate(0, -50%);
    padding: 8px 0;
    border-radius: $radius-lg;

    background-color: $bcg-dark;

    display: flex;
    flex-direction: column;
    align-items: center;

    #right-toolbar-mode-toggle {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        svg {
            width: 20px;
            height: 20px;
        }
    }

    &>.right-toolbar-button, .right-toolbar-tool, .right-toolbar-toggle {
        @include toolbar-item;
        margin: 1px;
    }

    &>.right-toolbar-separator {
        width: $toolbar-item-size;
        height: 2px;
        margin: 4px 0;
        background-color: $bcg-lighter;
    }

    &>.right-toolbar-button {
        svg {
            color: $clr-default;
        }
    }

    &>.right-toolbar-tool {
        @include toolbar-tool;
    }

    &>.right-toolbar-toggle.active {
        @include toolbar-toggle-active;
    }
}
