@use 'colors' as *;
@use 'tokens' as *;

#scene-panel {
    top: 102px;
    left: 24px;
    width: $panel-width;
}

.collapsed #scene-panel {
    display: none;
}

.ss-panel-header-button.active,
.ss-panel-header-button.active:hover {
    background-color: $clr-hilight;

    svg {
        color: $clr-active;
    }
}

.splat-list-container {
    max-height: 300px;
    overflow: auto;
}
