@use 'colors.scss' as *;

.splat-list {
    min-height: 80px;
    padding: 4px 0px;

    .splat-item {
        display: flex;
        flex-direction: row;
        padding: 2px;
        align-items: center;

        &:hover:not(.selected) {
            cursor: pointer;
        }

        &.selected {
            background-color: $bcg-darker;
        }

        #splat-edit {
            margin: 0;
            flex-grow: 1;
            flex-shrink: 1;
        }

        .camera-item-icon {
            flex-grow: 0;
            flex-shrink: 0;
            width: 16px;
            height: 16px;
            margin-right: 4px;
            color: $text-secondary;

            svg {
                width: 16px;
                height: 16px;
            }
        }

        &.camera-item:hover .camera-item-icon {
            color: $text-primary;
        }

        &.camera-item.selected .camera-item-icon {
            color: $text-primary;
        }

        .splat-item-text {
            flex-grow: 1;
            flex-shrink: 1;

            .visible & {
                &:hover:not(.selected) {
                    color: $text-primary;
                }
            }

            .selected & {
                color: $text-primary;
            }
        }

        .splat-item-visible {
            flex-grow: 0;
            flex-shrink: 0;

            width: 24px;
            height: 24px;
            line-height: 24px;

            color: $text-secondary;

            cursor: pointer;

            .visible & {
                color: $text-secondary;
            }

            &:hover {
                color: $text-primary;
            }
        }

        .splat-item-delete {
            flex-grow: 0;
            flex-shrink: 0;

            padding: 4px;
            width: 16px;
            height: 16px;
            line-height: 16px;

            color: $text-secondary;

            cursor: pointer;

            &:hover {
                color: $text-primary;
            }
        }
    }
}