@use 'colors' as *;
@use 'mixins' as *;
@use 'tokens' as *;

#view-panel {
    top: 50%;
    transform: translate(0, -50%);
    right: 102px;
    width: $panel-width;
    flex-direction: column;

    &:not(.pcui-hidden) {
        display: flex;
    }

    & > .ss-panel-row {
        @include panel-row;

        & > .ss-panel-row-label {
            @include panel-row-label;
        }

        & > .ss-panel-row-toggle {
            @include panel-row-toggle;
        }

        & > .ss-panel-row-slider {
            @include panel-row-slider;
        }

        & > .view-panel-row-pickers {
            display: flex;
            flex-direction: row;
            margin: 2px 2px;
            width: 185px;
            justify-content: space-between;

            & > .view-panel-row-picker {
                margin: 0;
                padding: 0;
                height: 24px;
            }
        }

        & > .view-panel-row-select {
            width: 187px;
            margin: 0;
        }
    }
}
